.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $link-color;
  }
  
  .error {
    background-color: $error-color;
  }
  
  .info {
    background-color: #927bc1;
  }
  
  .success {
    background-color: $success-color;
  }
  
  .warning {
    background-color: #fd7856;
  }